/Pair.class
/Ranking.class
/Test.class
/Tournament.class
/TournamentFactory.class
/Test$1.class
/Test$2.class
/Test$3.class
/Test$4.class
/TournamentFactoryImpl.class
/RankingImpl.class
/TournamentFactoryImpl$1.class
