/Pair.class
/Test.class
/Tournament$Result.class
/Tournament$Type.class
/Tournament.class
/TournamentBuilder.class
/TournamentBuilderImpl$1.class
/TournamentBuilderImpl$2.class
/TournamentBuilderImpl$3.class
/TournamentBuilderImpl.class
